:root {
  --layout: 12;
}

.sidebar {
  --column: 2;
  width: calc(100% * var(--column) / var(--layout));
  min-width: 250px;
  transition: all 0.5s;
}

.sidebar-mini {
  width: 70px;
  transition: all 0.5s;
}

.sidebar-mini i {
  margin: 0 !important;
}

.content {
  padding: 15px;
  flex-grow: 1;
}